body, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  display: block;
}

.botoes {
  border: 8px solid;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #494c4e;
  height: 7vh;
  text-align: center;
  font-size: 5vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.btn {
  text-decoration: none;
  color: #dbe106;
}

body {
  background: url(fundo.jpg);
}

.espaco {
  height: 6vh;
}

.img {
  margin-left: 25%;
  margin-top: 4vh;
}

fieldset {
  margin: 6%;
  border-color: #dbe106;
  border: 6px solid #dbe106;
}

.botoes2 {
  border: 8px solid;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #494c4e;
  height: 7vh;
  text-align: center;
  font-size: 6.5vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
}